//estilo de contacto
/*estilo de main*/

main{
    .formatoTexto6{
        font-family: 'Arimo', sans-serif;
        text-align: justify;
        padding: 1rem;
        
    }
    span{
        display: block;
    }
    
}
/*estilo de aside*/
aside{
    .aside-contacto{
        display: none;
    }
    
}
