//estilos de alumnos
/*estilos del main*/
main{
    div{
        p{
            .formatoTexto5{
                font-family: 'Arimo', sans-serif;
                text-transform: uppercase;
                text-decoration: underline;
                font-size: 24px;
                margin: 2rem;
            


        }}
    }
}
/*estilo del aside*/

aside{
    .aside-alumnos{
        display: none;
    
}
}

