@import "scss/inicio";
@import "scss/docente";
@import "scss/alumnos";
@import "scss/comunidad";
@import "scss/contacto"; 
/*reset*/
*{margin:0;
padding: 0;
box-sizing: border-box;}

/*estilos generales*/
body{
    font-family: 'Arimo', sans-serif;
    font-size:1rem;
    background-size: cover;
    background-image: linear-gradient(rgb(252, 249, 79), white);
    header{ grid-area: header;
        h1{
            text-align:center;
            font-family:'Rubik Vinyl',cursive;
            font-size:80px;
            font-size-adjust:1.5;
            margin:1rem;
            padding:1rem;
        
        }
        nav{
            div{
                ul{
                    li{
                        margin:5px;
                        display: inline-block;
                        list-style:none;
                        background-color: rgb(230, 227, 231);
                        font-size:20px;
                        text-decoration:underline;
                        text-transform:uppercase;
                        text-align:center;
                        position:sticky;
                        top: 0;
                        z-index:4;
                        box-shadow: 5px 3px rgb(70, 69, 69);
                        border-radius: 100%; 
                        
                         :hover{background-color: rgb(247, 125, 69);}                                                }
                    
                    }
                }

            }
        }
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contacto-img{
        width: 70%;
    }
 
}
aside{grid-area: aside;}
    
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
        text-align: center;
        margin: 1rem;
        gap:1rem;
     
}

    }

//medias 
//vista de tablet


@media screen and (min-width:600px){

    aside{
        .aside-index{
            display:block;
            margin: 1rem;
            display:flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        
        }
        .aside-docente{
            display:block;
        }
        .aside-alumnos{
            display: block;             }
        
        .aside-comunidad{
            display: block;
            }
        .aside-contacto{
            display: block;}
        
         .boton{
             background-color: rgb(240, 14, 44);
             margin: 0.5rem;
            padding: 0.7rem;
             text-align: center;
            color: antiquewhite;
            box-shadow: 3px 3px;
                }
                    
            
}

}
// vista de desktop

@media screen and (min-width:1020px){
    body{
        .contenedor-uno{
            display: grid;
            grid-template-columns: 2fr 2 fr 1fr;
            grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
            grid-template-areas: 
              "header header header"
              "main main aside"
              "main main aside"
              "footer footer footer";
            gap: 10px;}
         .contenedor-dos{    
                display: grid;
                grid-template-columns: 2fr 2 fr 1fr;
                grid-template-rows: 0.5fr 0.5fr 0.5fr;
                grid-template-areas: 
                  "header header header"
                  "main main  aside"
                  
                  "footer footer footer";
                gap: 10px;
            }
            .contenedor-tres{
                display: grid;
                grid-template-columns: 2fr 2 fr 0.5fr;
                grid-template-rows: 0.5fr 1fr 0.5fr;
                grid-template-areas: 
                  "header header header"
                  "main main  aside"
                  "footer footer footer";
                gap: 10px;
            }
            .contenedor-cuatro{
                display: grid;
                grid-template-columns: 2fr 2 fr 1fr;
                grid-template-rows: 0.5fr 1fr 0.5fr;
                grid-template-areas: 
                  "header header header"
                  "main main  aside"
                  "footer footer footer";
                gap: 10px;
            }
            .contenedor-cinco{
                display: grid;
                grid-template-columns: 2fr 1 fr 2fr;
                grid-template-rows: 0.4fr 1fr 0.4fr;
                grid-template-areas: 
                  "header header header"
                  "main main aside"
                  "footer footer footer";
                gap: 5px;
            }
            
            
            

          main{
               p{
                   .formatoTexto2{
            display: block;
            text-align: justify;}
                    .formatoTexto1{
            text-align: justify;
             }
                     .formatoTexto2{
            text-align: justify;
               }
               .formatoTexto4{
                font-family: 'Arimo', sans-serif;
                font-size: large;
                text-transform: uppercase;
                background-color: rgb(250, 247, 247);
                
            }
            

        
             }
    
             .centrarSubtitulo{
            width: 550px;
            color: red;
            text-align:center;
            text-transform: uppercase;
            font-size: 3rem;
            font-size-adjust:1.5;
            
           }
           h2{
            .estiloTexto{
                font-family: 'Arimo', sans-serif;
                width: 300px;
                text-align: center;
                color: brown;
            }
            
           }
    
    div{
        .docente-proyecto{
            display: block;
            text-align:center;
            padding: 1rem;
        }
        
    }
   } 
}
}